<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227986971808-aqtcie3k91uf3e0li163kms7tm1c2a65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227986971808-aqtcie3k91uf3e0li163kms7tm1c2a65</string>
	<key>API_KEY</key>
	<string>AIzaSyCC-8HPZTpOxR0xy95Fd9H4AtDcjf-28PM</string>
	<key>GCM_SENDER_ID</key>
	<string>227986971808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rideshare</string>
	<key>PROJECT_ID</key>
	<string>rideshare-cdad7</string>
	<key>STORAGE_BUCKET</key>
	<string>rideshare-cdad7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227986971808:ios:4361fd5f235a42a409bdc5</string>
</dict>
</plist>